@import url("../../App.css");

.home-banner {
  display: flex;
  justify-content: center;
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .banner-image {
    width: 100%;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
}
