.home-content {
  padding: 20px;
  text-align: center;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 1024px) {
  .about-row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
