@import url("../../App.css");

.home-banner {
  background-image: url("../../assets/bg.avif");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  filter: contrast(0.8);
  border-radius: 10px;
}

.home-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: -1;
  border-radius: 10px;
}

.banner-text-container {
  height: clamp(250px, 37vw, 400px);
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 60px;
}

.home-banner h1 {
  color: var(--light-gray);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  padding: 0;
}

#top-banner-title {
  align-self: flex-start;
  text-align: right;
}

#bottom-banner-title {
  align-self: flex-end;
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .banner-text-container {
    padding: 0 40px;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .banner-text-container {
    padding: 0 30px;
  }

  .home-banner {
    width: 100vw;
    margin: -20px -20px 0 0;
    border-radius: 0px;
  }
}
