.home-about img {
  height: auto;
  width: 100%;
  max-width: 350px;
  min-width: 300px;
  background-size: cover;
  border-radius: 10px;
  margin-top: 20px;
}

.about-row {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-row-inner {
  /* display: flex; */
  /* flex-direction: column; */
}
