.contact-page {
  background-image: url("../assets/contact.avif");
  background-size: cover;
  background-position: center;
  height: clamp(750px, 100vh, 100vh);
  padding-top: 64px;
}

.text-container {
  margin: auto;
  max-width: 500px;
  /* background-color: var(--light-blue); */
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: rgba(244, 249, 254, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 35px;
  margin-top: clamp(90px, 14vw, 120px);
}

#title {
  /* background-color: var(--green); */
  /* color: white; */
  color: var(--green);
  border-radius: 10px 10px 0 0;
  padding: 30px;
  border-bottom: 1px solid var(--green);
}

.contact-list {
  list-style-type: none;
  text-align: center;
  direction: ltr;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-size: 1.2rem;
}

.contact-item {
  width: 100%;
  max-width: 400px;
  height: 80px;
}

.contact-title:hover {
  text-decoration: underline;
}

.list-tile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact-title {
  flex-grow: 1;
  text-align: left;
  padding-left: 30px;
}

.contact-trailing {
  width: 80px;
  text-align: right;
}

.contact-icon {
  /* background-color: var(--green); */
  color: var(--green) !important;
  border-radius: 5%;
  width: 50px;
  height: 50px;
  font-size: 1.8rem;
  color: var(--light-blue);
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.whatsapp-icon {
  font-size: 2.2rem;
}

@media (max-width: 1024px) {
  .contact-page {
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .contact-list {
    font-size: 1rem;
  }

  .contact-icon {
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
  }

  .contact-item {
    max-width: 300px;
    max-height: 60px;
  }

  .contact-trailing {
    width: 60px;
  }
  .contact-title {
    padding-left: 20px;
  }
  .contact-page {
    padding-top: 0;
  }

  .text-container {
    border-radius: 0 !important;
  }

  #title {
    border-radius: 0;
    border-bottom: none;
  }
}
