.home-container {
  /* todo: unused */
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 55% 35%;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  padding: 20px;
  text-align: center;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 100px;
}

.section h2 {
  text-align: center;
  padding: 2rem;
}

.home-banner {
  /* background-image: url("../assets/bg.jpg"); */
  background-image: url("https://images.unsplash.com/photo-1476067897447-d0c5df27b5df?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-position: 55% 35%; */
  background-position: right;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

/* .banner-text {
  width: 80%;
} */

/* #top-banner-title {
  font-size: 1.5rem;
  color: #f8f8f8;
} */
 

#bottom-banner-title {
  font-size: 2rem;
  color: #f8f8f8;
}

.home-about,
.home-treatments {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1200px;
}

.about-row {
  display: flex;
  align-items: center;
}

.about-row-inner {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-row-inner > p {
  margin: 40px;
}

.home-treatments > p {
  margin: 20px;
}

.home-about img {
  height: 400px;
  width: 400px;
  background-size: cover;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .about-row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
}

/* nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    padding: 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */
