@import url("../App.css");

.footer-wrapper {
  background-color: #f0f0f0;
  position: fixed;
  padding: 0.3rem 1.5rem;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
}

.footer-content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whatsapp-button {
  /* padding: 0.5rem 1rem; */
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.7rem;
  transition: background-color 0.3s;
  color: var(--gray);
}

.copyright {
  margin: 0;
  color: var(--gray);
  direction: ltr;
}
.whatsapp-icon {
  font-size: 40px;
}
@media (max-width: 1024px) {
  .whatsapp-icon {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .whatsapp-icon {
    font-size: 30px;
  }
}
