:root {
  --green: #1b6d68;
  --gray: #414141;
  --brown: #b99c84;
  --light-blue: #f4f9fe;
  --light-gray: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
}

html {
  font-size: 100%;
}

body {
  direction: rtl;
  text-align: right;
  background-color: white;
  font-family: "Heebo", "Alef", Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: auto;
  margin-top: clamp(90px, 15vw, 120px);
  max-width: 1200px;
  padding: 64px 60px;
}

body p {
  margin: 20px 0;
  line-height: 1.6;
  color: var(--gray);
  text-align: justify;
  font-size: 1.2rem;
}

.sources {
  direction: ltr;
  text-align: left;
}

.sources h2 {
  direction: rtl;
  text-align: right;
}

body h1,
body h2,
body h3 {
  color: var(--green);
  line-height: 1.6;
}

body h1 {
  text-align: center;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.1));
  font-size: 2rem;
  padding: 44px 0 10px 0;
}

/* Tablet Styles */
@media (max-width: 1024px) {
  main {
    padding: 40px;
  }
  body h1 {
    font-size: 1.7rem;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  main {
    padding: 20px;
  }
  body h1 {
    font-size: 1.5rem;
  }

  body p {
    margin: 20px 0;
    font-size: 1rem;
  }
}
