@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&family=Alef:wght@400;700&display=swap");

:root {
  --gray: #414141;
  --light-gray: #f7f7f7;
  --whatsapp-icon: #40d957;

  /* fonts */
  --primary: #396884;
  --fontColor: #000;
  --fontColorAlt: #575454;

  /* background */
  --cardBackground: #f6f9f5;
  --backgroundAlt: #f6f9f58c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
}

html {
  font-size: 100%;
}

.page {
  margin: auto;
  max-width: 1200px;
  margin-bottom: 90px;
}

.page-text {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

body {
  direction: rtl;
  text-align: right;
  background-color: white;
  font-family: "Heebo", "Alef", Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body p {
  margin: 20px 0;
  line-height: 1.6;
  color: var(--gray);
  text-align: right;
  font-size: 1.2rem;
}

.sources p {
  font-size: 1rem;
  direction: ltr;
  text-align: left;
}

body h1,
body h2,
body h3 {
  color: var(--primary);
  line-height: 1.6;
}

body h1 {
  text-align: center;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.1));
  font-size: 2rem;
  padding: 44px 0 10px 0;
}

body h2 {
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.1));
  font-size: 1.6rem;
  padding: 44px 0 10px 0;
}

body h3 {
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.1));
  font-size: 1.2rem;
  padding: 44px 0 10px 0;
  text-align: right;
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .page-text {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
  body h1 {
    font-size: 1.7rem;
  }

  body h2 {
    font-size: 1.4rem;
  }

  body h3 {
    font-size: 1.2rem;
  }

  body p {
    font-size: 1.1rem;
  }
  .sources p {
    font-size: 0.9rem;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .page-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  body h1 {
    font-size: 1.5rem;
  }
  body h2 {
    font-size: 1.4rem;
  }

  body h3 {
    font-size: 1.1rem;
  }

  body p {
    font-size: 1rem;
  }
  .sources p {
    font-size: 0.8rem;
  }
}
