* {
  /* outline: 1px solid rgba(0, 0, 255, 0.3); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  text-align: right;
  background-color: #fff;
  margin: 0;
  color: #333;
  font-family: 'Heebo', 'Alef', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Tablet Styles */
@media (max-width: 1024px) {
  body {
    font-size: 17px;
  }
}


/* Mobile Styles */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}